<div class="QuickActionsBar">
    <button class="QuickActionsBar-item toggle-qab" data-tooltip="Quick Actions!" style="--item-index: 0">
        <i class="fa fa-bolt"></i>
    </button>

    <button class="QuickActionsBar-item" data-tooltip="Dashboard" style="--item-index: 1" hidden>
        <i class="fa fa-tachometer-alt"></i>
    </button>
    
    <button class="QuickActionsBar-item" data-tooltip="Bookmarks" style="--item-index: 2" hidden>
        <i class="fa fa-bookmark"></i>
    </button>
    
    <button class="QuickActionsBar-item" data-tooltip="Share" style="--item-index: 3" hidden>
        <i class="fa fa-share"></i>
    </button>

    <button class="QuickActionsBar-item" data-tooltip="Notifications" style="--item-index: 4" hidden>
        <i class="fa fa-bell"></i>
    </button>

    <button class="QuickActionsBar-item" data-tooltip="API" style="--item-index: 5" hidden>
        <i class="fa fa-code"></i>
    </button>

    <button class="QuickActionsBar-item primary" data-tooltip="Go to Top!" style="--item-index: 6" onclick="scrollToTop()" hidden>
        <i class="fa fa-arrow-up"></i>
    </button>
</div>